.mediaViewInfo {
	--web-view-name: UserMainPage;
	--web-view-id: UserMainPage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: UserMainPage;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#UserMainPage {
	position: absolute;
	width: 1366px;
	height: 1780px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: UserMainPage;
	--web-view-id: UserMainPage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Background {
	opacity: 0.49;
	position: absolute;
	width: 1366px;
	height: 1783px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BackgroundPicture {
	opacity: 0.4;
	position: absolute;
	width: 1366px;
	height: 1783px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ColorEffect_q {
	opacity: 0.5;
	fill: url(#ColorEffect_q);
}
.ColorEffect_q {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 1783px;
	left: 0px;
	top: 0px;
}
#MainPage {
	position: absolute;
	width: 1366px;
	height: 1783px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MainPage_s {
	opacity: 0.19;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.MainPage_s {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 1783px;
	left: 0px;
	top: 0px;
}
#GraphContainer {
	position: absolute;
	width: 200px;
	height: 400px;
	left: 63px;
	top: 786px;
	overflow: visible;
}
#GraphContainer_u {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,168,150,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.GraphContainer_u {
	position: absolute;
	overflow: visible;
	width: 900px;
	height: 400px;
	left: 0px;
	top: 0px;
}
#InfoContainer {
	position: absolute;
	width: 650px;
	height: 287px;
	left: 33px;
	top: 230px;
	overflow: visible;
}
#Info_Container {
	opacity: 0.1;
	fill: transparent;
}
.Info_Container {
	position: absolute;
	overflow: visible;
	width: 650px;
	height: 287px;
	left: 0px;
	top: 0px;
}
#LastUploadTextBlock {
	position: absolute;
	width: 650px;
	height: 60px;
	left: 0px;
	top: 110px;
	overflow: visible;
}
#TextBlockArea {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockArea {
	position: absolute;
	overflow: visible;
	width: 650px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#HintText {
	left: 38px;
	top: 17px;
	position: absolute;
	overflow: hidden;
	width: 354px;
	height: 30px;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#LastUploadValue {
	left: 391px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 249px;
	height: 43px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#EcoScoreTextBlock {
	position: absolute;
	width: 650px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TextBlockArea_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockArea_ {
	position: absolute;
	overflow: visible;
	width: 650px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#HintText_ {
	left: 38px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 357px;
	height: 39.375px;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#EcoScoreValue {
	left: 394px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 257px;
	height: 39px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#PeriodTextBlock {
	position: absolute;
	width: 650px;
	height: 67px;
	left: 0px;
	top: 219.873px;
	overflow: visible;
}
#TextBlockArea_ba {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockArea_ba {
	position: absolute;
	overflow: visible;
	width: 650px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#HintText_ba {
	left: 38px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 33px;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#PeriodValue {
	left: 393px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 33px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#LeaderboardContainer {
	position: absolute;
	width: 517px;
	height: 502px;
	left: 778px;
	top: 158px;
	overflow: visible;
}
#Leaderboard {
	fill: transparent;
}
.Leaderboard {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 502px;
	left: 0px;
	top: 0px;
}
#LeaderboardTextBlock {
	position: absolute;
	width: 517px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#RankingTextBlock {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RankingTextBlock {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#RankingText {
	left: 175px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 168px;
	height: 34px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#LeaderboardTextBlock_be {
	position: absolute;
	width: 517px;
	height: 60px;
	left: 0px;
	top: 110px;
	overflow: visible;
}
#RankingTextBlock_bf {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RankingTextBlock_bf {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#RankingText_bg {
	left: 15px;
	top: 15px;
	position: absolute;
	overflow: hidden;
	width: 168px;
	height: 30px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#FirstPositionValue {
	left: 196px;
	top: 15px;
	position: absolute;
	overflow: hidden;
	width: 293px;
	height: 30px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#LeaderboardTextBlock_bi {
	position: absolute;
	width: 517px;
	height: 60px;
	left: 0px;
	top: 220px;
	overflow: visible;
}
#RankingTextBlock_bj {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RankingTextBlock_bj {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#RankingText_bk {
	left: 18px;
	top: 15px;
	position: absolute;
	overflow: hidden;
	width: 168px;
	height: 30px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#SecondPositionValue {
	left: 196px;
	top: 15px;
	position: absolute;
	overflow: hidden;
	width: 293px;
	height: 31px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#LeaderboardTextBlock_bm {
	position: absolute;
	width: 517px;
	height: 60px;
	left: 0px;
	top: 330px;
	overflow: visible;
}
#RankingTextBlock_bn {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RankingTextBlock_bn {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#RankingText_bo {
	left: 20px;
	top: 17px;
	position: absolute;
	overflow: hidden;
	width: 168px;
	height: 30px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#ThirdPositionValue {
	left: 205px;
	top: 17px;
	position: absolute;
	overflow: hidden;
	width: 293px;
	height: 31px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#LeaderboardTextBlock_bq {
	position: absolute;
	width: 517px;
	height: 60px;
	left: 0px;
	top: 440px;
	overflow: visible;
}
#RankingTextBlock_br {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RankingTextBlock_br {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#RankingText_bs {
	left: 10px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 30px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#UserPositionValue {
	left: 202px;
	top: 12px;
	position: absolute;
	overflow: hidden;
	width: 293px;
	height: 31px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#UserTopMenuBar {
	position: absolute;
	width: 1366px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TopMenu {
	position: absolute;
	width: 1366px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TopMenu_bw {
	fill: rgba(0,168,150,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TopMenu_bw {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#HomePageTab {
	position: absolute;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TabArea {
	fill: rgba(2,195,154,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TabArea {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Text {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: hidden;
	width: 401px;
	height: 66px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(5,102,141,1);
}
#AnalyseUserDataTab {
	position: absolute;
	width: 400px;
	height: 100px;
	left: 397px;
	top: 0px;
	overflow: visible;
}
#TabArea_b {
	fill: rgba(2,195,154,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TabArea_b {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Text_b {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: hidden;
	width: 401px;
	height: 66px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(5,102,141,1);
}
#UploadDataTab {
	position: absolute;
	width: 400px;
	height: 100px;
	left: 794px;
	top: 0px;
	overflow: visible;
}
#TabArea_ca {
	fill: rgba(2,195,154,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TabArea_ca {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Text_ca {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: hidden;
	width: 401px;
	height: 66px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(5,102,141,1);
}