.mediaViewInfo {
	--web-view-name: UserDataAnalysisPage;
	--web-view-id: UserDataAnalysisPage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: UserDataAnalysisPage;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#UserDataAnalysisPage {
	position: absolute;
	width: 1366px;
	height: 2046px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: UserDataAnalysisPage;
	--web-view-id: UserDataAnalysisPage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Background {
	opacity: 0.49;
	position: absolute;
	width: 1366px;
	height: 2046px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BackgroundPicture {
	opacity: 0.4;
	position: absolute;
	width: 1366px;
	height: 2046px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ColorEffect_q {
	opacity: 0.5;
	fill: url(#ColorEffect_q);
}
.ColorEffect_q {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 2046px;
	left: 0px;
	top: 0px;
}
#UserTopMenuBar {
	position: absolute;
	width: 1366px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TopMenu {
	position: absolute;
	width: 1366px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container {
	fill: rgba(0,168,150,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Container {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#HomePageTab {
	position: absolute;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TabArea {
	fill: rgba(2,195,154,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TabArea {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Text {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: hidden;
	width: 401px;
	height: 66px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(5,102,141,1);
}
#AnalyseUserDataTab {
	position: absolute;
	width: 400px;
	height: 100px;
	left: 397px;
	top: 0px;
	overflow: visible;
}
#TabArea_y {
	fill: rgba(2,195,154,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TabArea_y {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Text_z {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: hidden;
	width: 401px;
	height: 66px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(5,102,141,1);
}
#UploadDataTab_ {
	position: absolute;
	width: 400px;
	height: 100px;
	left: 794px;
	top: 0px;
	overflow: visible;
}
#TabArea_bc {
	fill: rgba(2,195,154,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TabArea_bc {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Text_bc {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: hidden;
	width: 401px;
	height: 66px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(5,102,141,1);
}
#HomePage {
	position: absolute;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TabArea_ba {
	fill: rgba(2,195,154,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TabArea_ba {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Text_ba {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: hidden;
	width: 401px;
	height: 66px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(5,102,141,1);
}
#AnalyseUserData {
	position: absolute;
	width: 400px;
	height: 100px;
	left: 397px;
	top: 0px;
	overflow: visible;
}
#TabArea_bb {
	fill: rgba(2,195,154,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TabArea_bb {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Text_bb {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: hidden;
	width: 401px;
	height: 66px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(5,102,141,1);
}
#UploadDataTab_ {
	position: absolute;
	width: 400px;
	height: 100px;
	left: 794px;
	top: 0px;
	overflow: visible;
}
#TabArea_bc {
	fill: rgba(2,195,154,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TabArea_bc {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Text_bc {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: hidden;
	width: 401px;
	height: 66px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(5,102,141,1);
}
#HeatMapContainer {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.HeatMapContainer {
	position: absolute;
	overflow: visible;
	width: 1130px;
	height: 780px;
	left: 118px;
	top: 1164px;
}
#Button {
	position: absolute;
	width: 215px;
	height: 51px;
	left: 1033px;
	top: 134px;
	overflow: visible;
}
#TextBlock {
	fill: rgba(2,195,154,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlock {
	position: absolute;
	overflow: visible;
	width: 215px;
	height: 51px;
	left: 0px;
	top: 0px;
}
#Text_bf {
	left: 26px;
	top: 11px;
	position: absolute;
	overflow: hidden;
	width: 165px;
	height: 30px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(5,102,141,1);
}
#StartingMonthInputContainer {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.StartingMonthInputContainer {
	position: absolute;
	overflow: visible;
	width: 225px;
	height: 38px;
	left: 118px;
	top: 136px;
}
#EndingMonthInputContainer {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.EndingMonthInputContainer {
	position: absolute;
	overflow: visible;
	width: 225px;
	height: 38px;
	left: 433px;
	top: 136px;
}
input[type=month]
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
#ActivitiesContainer {
	position: absolute;
	width: 365px;
	height: 836px;
	left: 82px;
	top: 222px;
	overflow: visible;
}
#ActivitiesContainer_bk {
	opacity: 0;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ActivitiesContainer_bk {
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 836px;
	left: 0px;
	top: 0px;
}
#RoundedTextBlock {
	position: absolute;
	width: 362px;
	height: 59px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#RankingTextBlock {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RankingTextBlock {
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 59px;
	left: 0px;
	top: 0px;
}
#RankingText {
	left: 33px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 297px;
	height: 45px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#InVehicle {
	position: absolute;
	width: 328px;
	height: 76px;
	left: 0px;
	top: 88px;
	overflow: visible;
}
#TextBlockContainer {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer {
	position: absolute;
	overflow: visible;
	width: 363px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#ActivityInVehicleValue {
	left: 115px;
	top: 17px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 51px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer {
	position: absolute;
	width: 91px;
	height: 58px;
	left: 32px;
	top: 10px;
	overflow: visible;
}
#Mask {
	position: absolute;
	width: 91px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#OnBicycle {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 183px;
	overflow: visible;
}
#TextBlockContainer_bu {
	fill: rgba(255,255,255,1);
}
.TextBlockContainer_bu {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#ActivityOnBicycleValue {
	left: 152px;
	top: 19px;
	position: absolute;
	overflow: hidden;
	width: 187px;
	height: 45px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_bw {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 37px;
	top: 8.947px;
	overflow: visible;
}
#Mask_bx {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#OnFoot {
	position: absolute;
	width: 365px;
	height: 76px;
	left: 0px;
	top: 278px;
	overflow: visible;
}
#TextBlockContainer_bz {
	fill: rgba(255,255,255,1);
}
.TextBlockContainer_bz {
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#ActivityOnFootValue {
	left: 127px;
	top: 9px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 59px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_b {
	position: absolute;
	width: 100px;
	height: 59px;
	left: 27px;
	top: 9px;
	overflow: visible;
}
#Mask_b {
	position: absolute;
	width: 100px;
	height: 59px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Running {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 373px;
	overflow: visible;
}
#TextBlockContainer_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_b {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#ActivityRunningValue {
	left: 128px;
	top: 11px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 54px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_ca {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 28px;
	top: 5px;
	overflow: visible;
}
#Mask_ca {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Still {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 468px;
	overflow: visible;
}
#TextBlockContainer_ca {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_ca {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#ActivityStillValue {
	left: 133px;
	top: 16px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 45px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_cb {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 33px;
	top: 5px;
	overflow: visible;
}
#Mask_cc {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Tilting {
	position: absolute;
	width: 354px;
	height: 76px;
	left: 0px;
	top: 563px;
	overflow: visible;
}
#TextBlockContainer_ce {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_ce {
	position: absolute;
	overflow: visible;
	width: 354px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#ActivityTiltingValue {
	left: 142px;
	top: 12px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 53px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_cg {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 30px;
	top: 5px;
	overflow: visible;
}
#Mask_ch {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Unknown {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 658px;
	overflow: visible;
}
#TextBlockContainer_cj {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_cj {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#ActivityUnknownValue {
	left: 130px;
	top: 11px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 54px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_cl {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 30px;
	top: 5px;
	overflow: visible;
}
#Mask_cm {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Walking {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 753px;
	overflow: visible;
}
#TextBlockContainer_co {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_co {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#ActivityWalkingValue {
	left: 136px;
	top: 15px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 47px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_cq {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 36px;
	top: 5px;
	overflow: visible;
}
#Mask_cr {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#DayPerActivityContainer {
	position: absolute;
	width: 364px;
	height: 836px;
	left: 476px;
	top: 222px;
	overflow: visible;
}
#DayPerActivityContainer_ct {
	opacity: 0;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.DayPerActivityContainer_ct {
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 836px;
	left: 0px;
	top: 0px;
}
#RoundedTextBlock_cu {
	position: absolute;
	width: 362px;
	height: 59px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#RankingTextBlock_cv {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RankingTextBlock_cv {
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 59px;
	left: 0px;
	top: 0px;
}
#RankingText_cw {
	left: 33px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 297px;
	height: 45px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#InVehicle_cx {
	position: absolute;
	width: 328px;
	height: 76px;
	left: 0px;
	top: 88px;
	overflow: visible;
}
#TextBlockContainer_cy {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_cy {
	position: absolute;
	overflow: visible;
	width: 363px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#DayPerActivityInVehicleValue {
	left: 115px;
	top: 17px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 51px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_c {
	position: absolute;
	width: 91px;
	height: 58px;
	left: 32px;
	top: 10px;
	overflow: visible;
}
#Mask_c {
	position: absolute;
	width: 91px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#OnBicycle_c {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 183px;
	overflow: visible;
}
#TextBlockContainer_c {
	fill: rgba(255,255,255,1);
}
.TextBlockContainer_c {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#DayPerActivityOnBicycleValue {
	left: 152px;
	top: 19px;
	position: absolute;
	overflow: hidden;
	width: 187px;
	height: 45px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_da {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 37px;
	top: 8.947px;
	overflow: visible;
}
#Mask_da {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#OnFoot_c {
	position: absolute;
	width: 328px;
	height: 76px;
	left: 0px;
	top: 278px;
	overflow: visible;
}
#TextBlockContainer_da {
	fill: rgba(255,255,255,1);
}
.TextBlockContainer_da {
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#DayPerActivityOnFootValue {
	left: 127px;
	top: 9px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 59px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_db {
	position: absolute;
	width: 100px;
	height: 59px;
	left: 27px;
	top: 9px;
	overflow: visible;
}
#Mask_db {
	position: absolute;
	width: 100px;
	height: 59px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Running_dc {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 373px;
	overflow: visible;
}
#TextBlockContainer_dd {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_dd {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#DayPerActivityRunningValue {
	left: 128px;
	top: 11px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 54px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_df {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 28px;
	top: 5px;
	overflow: visible;
}
#Mask_dg {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Still_dh {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 468px;
	overflow: visible;
}
#TextBlockContainer_di {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_di {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#DayPerActivityStillValue {
	left: 133px;
	top: 16px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 45px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_dk {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 33px;
	top: 5px;
	overflow: visible;
}
#Mask_dl {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Tilting_dm {
	position: absolute;
	width: 354px;
	height: 76px;
	left: 0px;
	top: 563px;
	overflow: visible;
}
#TextBlockContainer_dn {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_dn {
	position: absolute;
	overflow: visible;
	width: 354px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#DayPerActivityTiltingValue {
	left: 142px;
	top: 12px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 53px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_dp {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 30px;
	top: 5px;
	overflow: visible;
}
#Mask_dq {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Unknown_dr {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 658px;
	overflow: visible;
}
#TextBlockContainer_ds {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_ds {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#DayPerActivityUnknownValue {
	left: 130px;
	top: 11px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 54px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_du {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 30px;
	top: 5px;
	overflow: visible;
}
#Mask_dv {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Walking_dw {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 753px;
	overflow: visible;
}
#TextBlockContainer_dx {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_dx {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#DayPerActivityWalkingValue {
	left: 136px;
	top: 15px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 47px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_dz {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 36px;
	top: 5px;
	overflow: visible;
}
#Mask_d {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#HourPerActivityContainer {
	position: absolute;
	width: 364px;
	height: 836px;
	left: 870px;
	top: 222px;
	overflow: visible;
}
#HourPerActivityContainer_d {
	opacity: 0;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.HourPerActivityContainer_d {
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 836px;
	left: 0px;
	top: 0px;
}
#RoundedTextBlock_d {
	position: absolute;
	width: 362px;
	height: 59px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#RankingTextBlock_d {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RankingTextBlock_d {
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 59px;
	left: 0px;
	top: 0px;
}
#RankingText_d {
	left: 33px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 297px;
	height: 45px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#InVehicle_d {
	position: absolute;
	width: 328px;
	height: 76px;
	left: 0px;
	top: 88px;
	overflow: visible;
}
#TextBlockContainer_d {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_d {
	position: absolute;
	overflow: visible;
	width: 363px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#HourPerActivityInVehicleValue {
	left: 115px;
	top: 17px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 51px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_d {
	position: absolute;
	width: 91px;
	height: 58px;
	left: 32px;
	top: 10px;
	overflow: visible;
}
#Mask_ea {
	position: absolute;
	width: 91px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#OnBicycle_eb {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 183px;
	overflow: visible;
}
#TextBlockContainer_ec {
	fill: rgba(255,255,255,1);
}
.TextBlockContainer_ec {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#HourPerActivityOnBicycleValue {
	left: 152px;
	top: 19px;
	position: absolute;
	overflow: hidden;
	width: 187px;
	height: 45px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_ee {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 37px;
	top: 8.947px;
	overflow: visible;
}
#Mask_ef {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#OnFoot_eg {
	position: absolute;
	width: 328px;
	height: 76px;
	left: 0px;
	top: 278px;
	overflow: visible;
}
#TextBlockContainer_eh {
	fill: rgba(255,255,255,1);
}
.TextBlockContainer_eh {
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#HourPerActivityOnFootValue {
	left: 127px;
	top: 9px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 59px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_ej {
	position: absolute;
	width: 100px;
	height: 59px;
	left: 27px;
	top: 9px;
	overflow: visible;
}
#Mask_ek {
	position: absolute;
	width: 100px;
	height: 59px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Running_el {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 373px;
	overflow: visible;
}
#TextBlockContainer_em {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_em {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#HourPerActivityRunningValue {
	left: 128px;
	top: 11px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 54px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_eo {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 28px;
	top: 5px;
	overflow: visible;
}
#Mask_ep {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Still_eq {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 468px;
	overflow: visible;
}
#TextBlockContainer_er {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_er {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#HourPerActivityStillValue {
	left: 133px;
	top: 16px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 45px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_et {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 33px;
	top: 5px;
	overflow: visible;
}
#Mask_eu {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Tilting_ev {
	position: absolute;
	width: 354px;
	height: 76px;
	left: 0px;
	top: 563px;
	overflow: visible;
}
#TextBlockContainer_ew {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_ew {
	position: absolute;
	overflow: visible;
	width: 354px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#HourPerActivityTiltingValue {
	left: 142px;
	top: 12px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 53px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_ey {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 30px;
	top: 5px;
	overflow: visible;
}
#Mask_ez {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Unknown_e {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 658px;
	overflow: visible;
}
#TextBlockContainer_e {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_e {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#HourPerActivityUnknownValue {
	left: 130px;
	top: 11px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 54px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_e {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 30px;
	top: 5px;
	overflow: visible;
}
#Mask_e {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Walking_e {
	position: absolute;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 753px;
	overflow: visible;
}
#TextBlockContainer_fa {
	fill: rgba(255,255,255,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlockContainer_fa {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#HourPerActivityWalkingValue {
	left: 136px;
	top: 15px;
	position: absolute;
	overflow: hidden;
	width: 213px;
	height: 47px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#IconContainer_fa {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 36px;
	top: 5px;
	overflow: visible;
}
#Mask_fa {
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}