:root {
    --BackgroundColor: #F7ECE1;
    --FontColor: #CAC4CE;
    --MainStyleColor: #242038;
    --SecondaryStyleColor: #9067C6;
    --HoverBackgroundColor: #8D86C9;
    --MainFontColor: black;
    --HoverTextColor: rgb(255, 255, 255);
    --TextFont: 16px;
    --BorderColor: black;
  }
  
  body {
    margin: 0px;
    background-color: var(--BackgroundColor);
  }
    
  h1 {
    color: var(--MainFontColor);
  }
  
  p {
    color: var(--MainFontColor);
  }
  
  fieldset {
    margin: 20px;
    padding: 0 10px 10px;
    border: 1px solid var(--BorderColor);
    border-radius: 8px;
    padding-top: 10px;
  }
  
  form {
    margin-left: 300px;
    margin-right: 450px;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: var(--MainStyleColor);;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: var(--FontColor);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: var(--TextFont);
    cursor:pointer;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--HoverBackgroundColor);
    color: var(--FontColor);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: var(--HoverBackgroundColor);
    color: var(--HoverTextColor);
  }
  
  .topnav-right {
    float: right;
    padding: 14px 150px;
  }
  
  .button-right {
    float: right;
  }

  /* Change the style of buttons*/
  button {
    transition-duration: 0.4s;
    background-color: var(--SecondaryStyleColor);
    border: none;
    font-size: var(--TextFont);
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
  }
  
  /* Change the color of buttons on hover */
  button:hover {
  background-color: var(--HoverBackgroundColor);
  color: var(--HoverTextColor);
  }

  .chartcontainer{
    position: relative; 
    height:70vh; 
    width:70vw
  }

  .div-right {
    position: relative; 
    float: right;
    margin-right: 10vw;
    margin-top: 20vh;
  }

  table, th, td {
    border: 1px solid black;
  }

  #mapid { 
    height: 88vh; 
  }