.mediaViewInfo {
	--web-view-name: SignUpPage;
	--web-view-id: SignUpPage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: SignUpPage;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#SignUpPage {
	position: absolute;
	width: 1366px;
	height: 768px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: SignUpPage;
	--web-view-id: SignUpPage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Background {
	opacity: 0.49;
	position: absolute;
	width: 1366px;
	height: 768px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BackgroundPicture {
	opacity: 0.4;
	position: absolute;
	width: 1366px;
	height: 768px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ColorEffect_q {
	opacity: 0.5;
	fill: url(#ColorEffect_q);
}
.ColorEffect_q {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 768px;
	left: 0px;
	top: 0px;
}
#Form {
	position: absolute;
	width: 431px;
	height: 508px;
	left: 468px;
	top: 130px;
	overflow: visible;
}
#FormContainer {
	opacity: 0.36;
	fill: rgba(2,128,144,1);
}
.FormContainer {
	position: absolute;
	overflow: visible;
	width: 431px;
	height: 508px;
	left: 0px;
	top: 0px;
}
#LoginButton {
	position: absolute;
	width: 176px;
	height: 38px;
	left: 23px;
	top: 444px;
	overflow: visible;
}
#TextBlock {
	fill: rgba(2,195,154,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlock {
	position: absolute;
	overflow: visible;
	width: 176px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#Text {
	left: 26px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 33px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(5,102,141,1);
}
#SignUpButton {
	position: absolute;
	width: 176px;
	height: 38px;
	left: 230px;
	top: 444px;
	overflow: visible;
}
#TextBlock_x {
	fill: rgba(2,195,154,1);
	stroke: rgba(2,128,144,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextBlock_x {
	position: absolute;
	overflow: visible;
	width: 176px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#Text_y {
	left: 26px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 33px;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(5,102,141,1);
}